.black-and-white-mode body {
	-webkit-filter: grayscale(100%) contrast(150%) !important;
	filter: grayscale(100%) contrast(150%) !important;
}

.black-and-white-mode *::before,
.black-and-white-mode *,
.black-and-white-mode *::after {
	background-color: transparent !important;
	border-color: transparent !important;
	outline: none !important;
	text-shadow: none !important;
	box-shadow: none !important;
}

.black-and-white-mode input[type="text"],
.black-and-white-mode input[type="search"],
.black-and-white-mode input[type="submit"],
.black-and-white-mode input[type="button"],
.black-and-white-mode input[type="image"],
.black-and-white-mode button {
	background: #ccc !important;
}

.black-and-white-mode .black-and-white-mode-img *::before,
.black-and-white-mode .black-and-white-mode-img *,
.black-and-white-mode .black-and-white-mode-img *::after {
	color: #333 !important;
	background-image: none !important;
}

.black-and-white-mode .black-and-white-mode-img img,
.black-and-white-mode .black-and-white-mode-img input[type="image"], {
	visibility: hidden !important;
}